<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
  {{ $base := printf "%s-page/" .Params.template }}
  {{ partial (print $base "hero.html") . }}
  {{ partial (print $base "utp.html") . }}
  {{ partial (print $base "problem-solution.html") . }}
  {{ partial (print $base "social-proof.html") . }}
  {{ partial (print $base "features.html") . }}
  {{ partial (print $base "offer.html") . }}
  {{ partial (print $base "faq.html") . }}
  {{ partial (print $base "cta.html") . }}
  {{ partial (print $base "modal.html") . }}
  <script src="/assets/js/scripts.js"></script>
</body>
</html>
